<nav>
    <a routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>

    <a routerLink="/legislation" routerLinkActive="active" ariaCurrentWhenActive="page">Legislation & Policy</a>


    <a routerLink="/step" routerLinkActive="active" ariaCurrentWhenActive="page">STEP</a>


    <a routerLink="/ngos" routerLinkActive="active" ariaCurrentWhenActive="page">NGO</a>


    <a routerLink="/trainees" routerLinkActive="active" ariaCurrentWhenActive="page">Trainees</a>


    <a routerLink="/faq" routerLinkActive="active" ariaCurrentWhenActive="page">FAQ</a>
</nav>